<div class="container-fluid">
      <div class="row">Sign in to your account</div>
      <div class="row">
	 <div class="col-md-2">
	   <!--Sidebar content-->
	   <input value="Enter username">
	 </div>
      </div>
      <br/>
      <div class="row">
	 <div class="col-md-10">
	   <!--Sidebar content-->
	   <input value="Enter password">
	 </div>
      </div>
      <br/>
      <div class="row">
	<button ng-click="loginSubmit()">
  	   Sign In
	</button>
      </div>
      
      <div class="row">
	<button ng-click="createAccount()">
  	   Create New Account
	</button>
      </div>
  </div>
